        <h2>Recent Activity</h2>

        {% for message in room_messages %}

        <div>
            {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">DELETE</a>
            {% endif %}
            <p><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a> {{message.created|timesince}}</p>
            <p>replied: {{message.room}}</p>
            <strong>"{{message.body}}"</strong>
            <hr>
        </div>

        {% endfor %}